.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        テストチャット
      %ul.main-header__left-box__member-list
        member : 
        %li.main-header__left-box__member-list__member
        ユウスケ
    =link_to "#" do
      .main-header__edit-btn
        Edit

  .messages
    .message
      .message__upper-info
        %p.message__uppernfo__talker
          = @group.name
        %p.message__upper-info__date
          2020/3/20 11:30
      %p.message__text
        こんにちは

  .form
    %form
      .input-box
        %input.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{class:"input-box__image__file", type: "file"}

      %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/