* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

// ここからサイドバー
.chat-side {
  background-color: #253141;
  height: 100vh;
  width: 300px;
  float: left;
  .side-header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .header-box{
      background-color: #253141;
      display: flex;
      height: 20px;
      width: 260px;
      align-items: center;
      justify-content: space-between;
      .header-box__user{
        color: white;
        font-size: 16px;
        height: 100%;
        font-weight: bold;
        justify-content: space-between;
      }
      .header-box__icon{
        display: flex;
        li{
          margin-left: 5px;
          a{
          color: white;
          }
        }
        
      }
    }
  }


  .groups{
    background-color: #2f3e41;
    height: calc(100vh - 100px);
    padding: 20px 20px;
    overflow: scroll;
    box-sizing: border-box;
    .group{
      text-decoration: none;
      margin-bottom: 40px;
      &__name{
        color: white;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message{
        color: white;
        font-size: 11px;
      }
    }
  }
}

// ここからメインチャット
.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;
  .main-header{
    background-color: #ffffff;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;
    &__left-box{
      margin-top: 35px;
      &__current-group{
        font-size: 20px;
        color: hsl(0, 0%, 20%);
        margin-bottom: 15px;
      }
      &__member-list{
        display: flex;
        font-size: 12px;
        color: #999999;
      }
    }
      &__edit-btn{
        line-height: 40px;
        padding: 0 20px;
        border: solid 1px  #38aef0;
        margin: 28px 0;
        color: #38aef0;
        font-size: 16px

      }
  }
  .messages{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 40px 46px;
    overflow: scroll;
    .message{
      padding-bottom: 46px;
      &__upper-info{
        display: flex;
        margin-bottom: 12px;
        &__talker{
          color: #333333;
          font-size: 16px;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text{
        color: #434A54;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }

  //  ここからフォーム
  .form{
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
      &__message{
        position: relative;
        width: 100%;
        height: 50px;
        &__mask{
          width: 100%;
          height: 50px;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        &__mask__image{
          position: absolute;
          font-size: 1.3rem;
          top: 10px;
          right: 10px;
          .icon{
            display: none;
          }
          .hidden{

          }
        }
      }
      &__submit{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }